@import "tailwindcss";

/* Hide scrollbar for horizontal scroll areas */
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
